*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color:black;
}
html,body{
  height: 100%;
  width:100%;

}


button{
  padding:10px;
  margin:15px;
  font-weight: bold;
  background-color: gray;
  color:white;
  font-weight: 900;
  border-radius: 20px;
}
input{
  padding: 10px;
  margin: 10px;
  background-color: gray;
  font-weight: 900;
  font-size: 15px;
  color:white;

}