.header{
  background-color: lightseagreen;
  padding: 10px 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.btn{
  background-color: grey;
  padding:10px 20px;
  border:none;
  border-radius: 10px;
  color: white;
}

.title{
  color: white;
  text-decoration: underline;
}